body {
    font-family: Arial, sans-serif;
    color: #333;
    margin: 0;
    padding: 0;
    line-height: 1.6;
    background-color: #f4f4f4;
}

.header {
    position: relative;
    background-color: #0e1116;
    color: #ffffff;
    padding: 10px 0;
    text-align: center;
}

.header-links {
    position: absolute;
    right: 40px;
    top: 10px;
    list-style-type: none;
}

.header-links li {
    display: inline;
    margin-left: 40px;
}

.header-links a {
    text-decoration: none;
    color: #ffffff;  /* Change color here */
    padding-top: 5px;
    padding-right: 10px
}


.header h1 {
    margin: 0;
    padding: 0;
    font-size: 2em;
}

.header p {
    font-size: 1em;
    margin: 0.5em 0;
}

.container {
    width: 80%;
    margin: 0 auto;
    padding: 20px 0;
    text-align: center; 
}

.container h2 {
    font-size: 1.5em;
    border-bottom: 1px solid #333;
    padding-bottom: 5px;
}

.portfolio-item {
    margin-bottom: 20px;
    border-style:double;
}

.portfolio-item.lastlight {
    position: relative;
    margin-bottom: 20px;
    border: 3px double #000; 
    overflow: hidden;
}

.portfolio-item.portfolio-item.lastlight::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: url(Img/lastlight.png); 
    background-repeat: no-repeat;
    background-size: cover;
    background-position-y: 50%; 
    z-index: -1;
}

.portfolio-item.waywardrealms {
    position: relative;
    margin-bottom: 20px;
    border: 3px double #000; 
    overflow: hidden;
}

.portfolio-item.waywardrealms::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 200%; /* Increase width to twice the container's width */
    height: 100%;
    background-image: url(Img/waywardrealms.png);
    background-repeat: no-repeat;
    background-size: 50%; /* Size adjusted to fill half the width and full height */
    background-position: 0 50%; /* Position adjusted to move to the left */
    z-index: -1;
}



.portfolio-item.ardenfall {
    position: relative;
    margin-bottom: 20px;
    border: 3px double #000; 
    overflow: hidden;
}

.portfolio-item.ardenfall::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: url(Img/Ardenfall_2023-03-04-12-59-05.png); 
    background-repeat: no-repeat;
    background-size: cover;
    background-position-y: 20%;
    z-index: -1;
}

.portfolio-item h3 {
    color: #ffffff;
    font-size: 1.5em;
    -webkit-text-stroke: .6px black;
	
}

.ardenfall-info{
    border: 1px solid #000; 
}

.portfolio-display {
    display: flex; /* This makes the container a flex container */
    justify-content: flex-start; /* This packs items towards the start of the line */
    align-items: center; /* This centers the images vertically */
    flex-wrap: nowrap; /* This forces all items to be on one line */
}

.portfolio-display img {
    flex: 0 0 auto; /* This prevents the images from growing to fill unused space */
    width: 100%; /* This sets the base size of the images */
    max-width: 300px; /* This prevents the images from becoming too large */
    height: auto; /* This maintains the aspect ratio of the images */
    margin-right: 10px; /* Add a small margin to the right if you want some space between images */
    margin-left:10px;
    margin-bottom: 10px;

}

.portfolio-display img:hover{
    transform: scale(1.8); 
}




.footer {
    background-color: #0e1116;
    color: #ffffff;
    text-align: center;
    padding: 10px 0;
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
}

.footer a {
    color: #ffffff;
    text-decoration: none;
}

.footer a:hover {
    color: #dddddd;
}
