body {
    font-family: Arial, sans-serif;
    color: #333;
    margin: 0;
    padding: 0;
    line-height: 1.6;
    background-color: #f4f4f4;
    padding-top: 70px; /* Adjust to match the height of your header */
    padding-bottom: 70px; /* Adjust to match the height of your footer */
    display: flex;
    flex-direction: column;  /* Vertical direction */
    height: 100%;  /* replaced min-height with height */
}


.scroll-container {
    position: relative;  /* replaced absolute with relative */
    top: 0;
    bottom: 0;
    width: 100%;
    overflow: auto;
    flex-grow: 1;  /* added this to take remaining height */
}

.header {
    position: reltive;
    background-color: #0e1116;
    color: #ffffff;
    padding: 10px 0;
    text-align: center;
    top: 0;
}

.header, .footer {
    position: fixed;
    width: 100%;
    z-index: 100;
}

.header-links {
    position: absolute;
    right: 40px;
    top: 10px;
    list-style-type: none;
}

.header-links li {
    display: inline;
    margin-left: 40px;
}

.header-links a {
    text-decoration: none;
    color: #ffffff;  /* Change color here */
    padding-top: 5px;
    padding-right: 10px
}


.header h1 {
    margin: 0;
    padding: 0;
    font-size: 2em;
}

.header p {
    font-size: 1em;
    margin: 0.5em 0;
}

.story-sample {
    margin: 50px auto;
    width: 80%;
    font-size: 16px;
    line-height: 1.6;
    border: 3px solid #ffffff;
    border-radius: 10px;
    padding: 20px;
    background-color: #0e1116;
    color: #ffffff;
    box-shadow: 5px 5px 10px #888888;
}

.story-header {
    border-bottom: 1px solid #ffffff;
    padding-bottom: 10px;
    margin-bottom: 20px;
}

.story-title {
    color: #ffffff;
    font-size: 24px;
    margin-bottom: 10px;
    text-align: center;
}

.story-description {
    color: #ffffff;
    font-size: 18px;
    margin-bottom: 10px;
    text-align: center;
    font-style: italic;
}


.container {
    width: 80%;
    margin: 0 auto;
    padding: 20px 0;
    text-align: center; 
}

.container h2 {
    font-size: 1.5em;
    padding-bottom: 5px;
}

.container h3{
    border-bottom: 1px solid #ffffff;
}

.container p{
    text-align: center;
}

.portfolio-item {
    margin-bottom: 20px;
    border-style:double;
}

.portfolio-item.lastlight {
    position: relative;
    margin-bottom: 20px;
    border: 3px double #000; 
    overflow: hidden;
}

.portfolio-item.lastlight::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: url(Img/lastlight.png); 
    background-repeat: no-repeat;
    background-size: auto 100%; 
    background-position: 45%; /* Adjust this value to move your background to the left */
    z-index: -1;
}

.play-link {
    font-size: 1.5em;
    text-align: center;
}

.play-link a {
    color: #000000; 
    text-decoration: none;
}

.play-link a:hover {
    color: #000000;  
}



.portfolio-item.waywardrealms {
    position: relative;
    margin-bottom: 20px;
    border: 3px double #000; 
    overflow: hidden;
}

.portfolio-item.waywardrealms::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: url(Img/waywardrealms.png); 
    background-repeat: no-repeat;
    background-size: cover; /* updated from auto 100% to cover */
    background-position: center; /* updated from 45% to center */
    z-index: -1;
}




.portfolio-item.ardenfall {
    position: relative;
    margin-bottom: 20px;
    border: 3px double #000; 
    overflow: hidden;
}


.portfolio-item.ardenfall::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: url(Img/Ardenfall_2023-03-04-12-59-05.png); 
    background-repeat: no-repeat;
    background-size: cover;
    background-position-y: 20%;
    z-index: -1;
}

.ardenfall-info{
    background-color: rgb(255, 255, 255, .5);
}

.project-description {
    padding: 20px;
    text-align: left; 
    font-size: 1.2em;
}

.description-title {
    text-align: center; 
}

.portfolio-display video {
    flex: 0 0 auto; 
    width: 100%; 
    max-width: 300px; 
    height: auto; 
    margin-right: 10px; 
    margin-left:10px;
    margin-bottom: 10px;
}

.content-display {
    text-align: center;
    background-color: rgb(255, 255, 255, .5);
}

.portfolio-display video:hover{
    transform: scale(1.5); 
}

.portfolio-item h3 {
    color: #ffffff;
    font-size: 1.5em;
    -webkit-text-stroke: .6px black;
	
}

.portfolio-display {
    display: flex;
    justify-content: center; 
    align-items: center; 
    flex-wrap: nowrap; 
}

.portfolio-display img {
    flex: 0 0 auto; 
    width: 100%; 
    max-width: 300px; 
    height: auto; 
    margin-right: 10px; 
    margin-left:10px;
    margin-bottom: 10px;
}


.portfolio-display img:hover{
    transform: scale(1.5); 
}

.footer {
    background-color: #0e1116;
    color: #ffffff;
    text-align: center;
    padding: 10px 0;
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
}

.footer a {
    color: #ffffff;
    text-decoration: none;
}

.footer a:hover {
    color: #dddddd;
}
