body {
    font-family: Arial, sans-serif;
    color: #333;
    margin: 0;
    padding: 0;
    line-height: 1.6;
    background-color: #f4f4f4;
}

.header {
    background-color: #333;
    color: #ffffff;
    padding: 10px 0;
    text-align: center;
}

.header h1 {
    margin: 0;
    padding: 0;
    font-size: 2em;
}

.header p {
    font-size: 1em;
    margin: 0.5em 0;
}

.container {
    width: 80%;
    margin: 0 auto;
    padding: 20px 0;
    text-align: center; 
}

.container h2 {
    font-size: 1.5em;
    border-bottom: 1px solid #333;
    padding-bottom: 5px;
}

.portfolio-item {
    margin-bottom: 20px;
    border-style:double;
}

.portfolio-item.lastlight {
    position: relative;
    margin-bottom: 20px;
    border: 3px double #000; 
    overflow: hidden;
}

.portfolio-item.portfolio-item.lastlight::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: url(Img/lastlight.png); 
    background-repeat: no-repeat;
    background-size: cover;
    background-position-y: 50%; 
    z-index: -1;
}

.portfolio-item.waywardrealms {
    position: relative;
    margin-bottom: 20px;
    border: 3px double #000; 
    overflow: hidden;
}

.portfolio-item.waywardrealms::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 200%; /* Increase width to twice the container's width */
    height: 100%;
    background-image: url(Img/waywardrealms.png);
    background-repeat: no-repeat;
    background-size: 50%; /* Size adjusted to fill half the width and full height */
    background-position: 0 50%; /* Position adjusted to move to the left */
    z-index: -1;
}



.portfolio-item.ardenfall {
    position: relative;
    margin-bottom: 20px;
    border: 3px double #000; 
    overflow: hidden;
}

.portfolio-item.ardenfall::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: url(Img/Ardenfall_2023-03-04-12-59-05.png); 
    background-repeat: no-repeat;
    background-size: cover;
    background-position-y: 20%;
    z-index: -1;
}

.portfolio-item.ardenfall:hover{
    transform: scale(1.1);  
}

.portfolio-item.waywardrealms:hover{
    transform: scale(1.1);  
}

.portfolio-item.lastlight:hover{
    transform: scale(1.1);  
}

.portfolio-item h3 {
    color: #f4f4f4;
    font-size: 1.2em;
}

.footer {
    background-color: #333;
    color: #ffffff;
    text-align: center;
    padding: 10px 0;
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
}

.footer a {
    color: #ffffff;
    text-decoration: none;
}

.footer a:hover {
    color: #dddddd;
}
